* {
  border: 1px solid red;
}

body {
    margin: 100px;
    display: center;
}

.ColorBlock {
    height: 100px;
    width: 200px;
    text-decoration: none;
    text-align: center;
    display: inline-block;

}

p {
display: inline-block;
margin-top: 20px;
}


.CB1 {
background-color: #2d5dcc;
}
.CB2 {
    background-color: #d957d9;
    }
.CB3 {
    background-color: #4fe0b0;
}
.CB4 {
    background-color: #efd9ca;
}
    
